@import "catppuccin-frappe.css";

* {
  color: @foreground;

  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: MesloLGL Nerd Font;
  font-size: 14px;
}

window#waybar {
  background-color: @background;
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
}

#workspaces button.empty {
  opacity: 0.5;
}

#window {
  padding: 1px 10px;
  margin: 6px 6px;
  border-radius: 4px;
  background: #24273a;
  opacity: .6;
}

window#waybar.empty #window {
  background-color: transparent;
}

#tray,
#cpu,
#battery,
#network,
#bluetooth,
#pulseaudio,
#custom-expand-icon,
#custom-omarchy,
#custom-pkg_updates,
#custom-power {
  min-width: 12px;
  margin: 0 7.5px;
  margin-left: 14px;
  font-size: 10px;
}

#custom-expand-icon {
  margin-right: 7px;
}

tooltip {
  padding: 4px;
  border-radius: 4px;
  background-color: @background;
  opacity: .95;
  box-shadow: 1px 1px 1px rgba(0,0,0,.2);
}

#clock {
  margin-left: 8.75px;
}

.hidden {
  opacity: 0;
}
